---
import '../styles/global.css'

interface Props {
  title?: string;
}

const { title = 'Caleb Haymore' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-950 text-zinc-100 min-h-screen font-sans antialiased">
    <slot />
  </body>
</html>
